<h2>Movies</h2>

<a href="/movies/create">Create a New Movie</a>
<br>
<% movies.forEach(function(movie) { %>
    <a href="/movies/<%= movie._id %>">
    <%= movie.title %>
    </a>
    <br>
    <% }); %>